extends base.pug

block content
    section.section
        .container
            .level
                .level-left
                    h2.title.is-3 #{pageTitle}
            hr
            table.table.is-striped.is-fullwidth
                thead
                    tr
                        th Keyname
                        th Address
                        th Balance
                tbody 
                    each balance in balances
                        tr 
                            each column in columns
                                td #{balance[column]}
